@import "tailwindcss";

@theme inline {
  --color-bg-light: #F9E9E9;
  --color-card: #FFFFFF;
  --color-accent: #DB4437;
  --color-text-primary: #202124;
  --color-text-secondary: #707070;
  --color-link: #1A73E8;
  --color-error: #D93025;
  --color-border: #DDDDDD;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-bg-light);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
